In [12]:
data = ('Matahari Bhakti Nendya', '22064091', 'Bantul, DI Yogyakarta')

print("NIM    :", data[1])
print("NAMA   :", data[0])
print("ALAMAT :", data[2])
print()

nim = tuple(data[1])
nama_depan = tuple(data[0].split()[0].lower())  
nama_terbalik = tuple(reversed(data[0].split()))  

print("NIM:", nim)
print("NAMA DEPAN:", nama_depan)
print("NAMA TERBALIK:", nama_terbalik)

NIM    : 22064091
NAMA   : Matahari Bhakti Nendya
ALAMAT : Bantul, DI Yogyakarta

NIM: ('2', '2', '0', '6', '4', '0', '9', '1')
NAMA DEPAN: ('m', 'a', 't', 'a', 'h', 'a', 'r', 'i')
NAMA TERBALIK: ('Nendya', 'Bhakti', 'Matahari')